@font-face {
    font-family: Flama-Light;
    src: url(fonts/flama-light-webfont.woff);
}
@font-face {
    font-family: Flama-Book;
    src: url(fonts/flama-book-webfont.woff);
}
@font-face {
    font-family: Flama-Black;
    src: url(fonts/flama-black-webfont.woff);
}
@font-face {
    font-family: Flama-Bold;
    src: url(fonts/flama-bold-webfont.woff);
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    margin-left: 35px;
    font: 14px Arial;
    background: white;
    border-radius: 8px;
    pointer-events: none;
    border:2px solid;
    color:black;
    line-height: 0.7;
}
div.tooltip p {
    font-family: Flama-Book;
}

div.tooltip b {
    font-family: Flama-Bold;
}


div#topo {
    color: white;
    font-size: 30px;
    padding: 5px;

}
div#resto {
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 5px;
    line-height: 1;
}
#botao {
    position: absolute;
}

#grafico {
    position:relative;
}


p.linhafina {
    font-family:"Flama-Light";
    font-size:2.4rem;
    text-align: justify;
}

p.explicacao {
    font-size:1.4rem;
    text-align: justify;
}

.edados body {
    background: #fcfcfa;
    color: #333;
    font-family: "Flama-Book";
    margin-left: 20px;
    position: relative;
    width: 92%;
}
.edados .btn {
    font-family:"Flama-Light";
}

h1.titulo {
    font-family: "Flama-Bold";
    color: #000;
    font-size: 5rem;
    margin: .3em 0 .1em 0;
}

a {
    color: steelblue;
}

a:not(:hover) {
    text-decoration: none;
}
text {
    font-family:"Flama-Light" !important;
    font-size:1.1rem !important;
    font: 10px sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-anchor: middle;

}
